<% var noDataText=(typeof noDataText !=="undefined" ) ? noDataText : 'No Products Found!' ; %>

    <!-- Start No Products Found -->
    <div>
        <h1 class="centered">
            <%= noDataText %>
        </h1>
    </div>
    <!-- End No Products Found -->